<VirtualHost *:80>
    DocumentRoot    {{ vhost.document_root | std.cm("vhost docroot", "app ref") }}
    ServerName      {{ vhost.name.name | std.cm("vhost hostname", "net ref") }}
    {% if (vhost.alternate_names | length) > 0 %}
    ServerAlias     {% for alias in vhost.aliases %}{{ alias.name | std.cm("vhost hostname", "net ref") }} {% endfor %}
    {% endif %}

    {% for alias in vhost.aliases %}
    Alias {{ alias.web | std.cm("vhost alias", "app ref") }} {{ alias.dir | std.cm("vhost dir", "app ref") }}
    {% endfor %}
</VirtualHost>

